* {margin: 0; padding: 0;}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
    background: lightgray;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}
p {
    font-size: 1.2rem;
}