

.header {
    width: 90%;
     margin: 30px auto 0px;

     @media @desktop {
        width: 1005px;
    }
}
.header--wrapper {
    display: flex;
    justify-content: space-between;

    @media @nav-mobile-to-desktop {
        margin: 0 auto;
        width: 720px;
    }
    
}
.header--slogan {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media @desktop {
        flex: 1;
    }
}

.header--title {

    margin-left: 20%;

    h1{
        font-size: 5rem;
        font-weight: 700;
    }

    h2 {
        font-size: 3rem;
        margin-top: -10px;
        font-weight: 300;
        margin-bottom: 10px;
    }
}

.header--title-sub {
    h3 {
        font-size: 1.4rem;
    }

    span {
        color: purple;
    }
}

.header--links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .magnify {
        margin-bottom: 8px;
    }

    .profile--icon {
       margin-left: 8px;

       @media @desktop {
        padding-right: 15px;;
    }
    }
}